In [1]:
import numpy as np
import pandas as pd

from datetime import datetime

#### Using the standard lib:

In [2]:
now = datetime.now()
now

datetime.datetime(2020, 12, 28, 17, 6, 42, 713873)

In [3]:
now.year, now.month, now.day

(2020, 12, 28)

In [4]:
now.hour, now.minute, now.second

(17, 6, 42)

In [5]:
datetime(2019, 7, 11) - datetime(2015, 7, 31)

datetime.timedelta(days=1441)

#### Basic pandas timeseries obj: Series indexed by timestamp

In [6]:
dates = [datetime(2019, 1, 1), datetime(2019, 1, 3), datetime(2019, 1, 5), datetime(2019, 1, 7)]

ts = pd.Series(np.random.randn(4), index = dates)

ts

2019-01-01   -0.017589
2019-01-03    1.707180
2019-01-05    1.229877
2019-01-07   -1.155755
dtype: float64

In [7]:
ts.index

DatetimeIndex(['2019-01-01', '2019-01-03', '2019-01-05', '2019-01-07'], dtype='datetime64[ns]', freq=None)

Each value in the index is a pandas Timestamp obj

#### Indexing/Subsetting:

In [8]:
ts['1-1-2019']

-0.017588756781597437

In [9]:
ts['2019-01-01']  # ISO 8601

-0.017588756781597437

In [10]:
long_ts = pd.Series(np.random.randn(1000), index = pd.date_range('2000-01-01', periods = 1000))

long_ts

2000-01-01   -1.194387
2000-01-02   -0.779985
2000-01-03   -1.848586
2000-01-04    0.712561
2000-01-05   -0.342272
                ...
2002-09-22    0.774258
2002-09-23    0.427682
2002-09-24   -2.020931
2002-09-25    3.091296
2002-09-26    0.254951
Freq: D, Length: 1000, dtype: float64

In [11]:
long_ts['2001']  # gets data for 2001

2001-01-01    0.602726
2001-01-02    1.744396
2001-01-03   -0.141062
2001-01-04    0.669410
2001-01-05   -1.283452
                ...
2001-12-27   -0.952759
2001-12-28    0.061966
2001-12-29    0.101959
2001-12-30    0.784397
2001-12-31    1.580338
Freq: D, Length: 365, dtype: float64

In [12]:
long_ts['2001-10']  # gets data for Oct'01

2001-10-01   -0.250250
2001-10-02    0.500428
2001-10-03   -1.616165
2001-10-04    1.252969
2001-10-05    1.364743
2001-10-06    1.201026
2001-10-07   -1.650776
2001-10-08   -0.966593
2001-10-09   -1.856085
2001-10-10   -0.703825
2001-10-11   -0.361126
2001-10-12   -1.200428
2001-10-13    1.979431
2001-10-14    0.363453
2001-10-15    0.953901
2001-10-16   -0.534802
2001-10-17   -0.149421
2001-10-18   -1.035767
2001-10-19   -0.884440
2001-10-20   -0.048149
2001-10-21   -0.460955
2001-10-22   -0.543674
2001-10-23    1.026904
2001-10-24    2.321446
2001-10-25   -0.800825
2001-10-26    0.387927
2001-10-27   -1.191838
2001-10-28    0.773647
2001-10-29    0.909564
2001-10-30   -1.651349
2001-10-31   -0.307486
Freq: D, dtype: float64

#### Slicing:

In [13]:
ts['2019-01-01' : '2019-01-04']  # can use datetime objects instead of string too

2019-01-01   -0.017589
2019-01-03    1.707180
dtype: float64

Duplicate indices:

In [14]:
dup_ts = pd.Series(np.random.randn(5), index = pd.DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2000-01-02', '2000-01-03']))

dup_ts

2000-01-01    2.377524
2000-01-02   -0.098930
2000-01-02   -0.824927
2000-01-02   -0.555596
2000-01-03   -0.900128
dtype: float64

In [15]:
dup_ts.index.is_unique

False

In [16]:
dup_ts['2000-01-01']

2.377524340309527

In [17]:
dup_ts['2000-01-02']

2000-01-02   -0.098930
2000-01-02   -0.824927
2000-01-02   -0.555596
dtype: float64

#### Aggregate data with non-unique timestamps:

In [18]:
grouped = dup_ts.groupby(level = 0)

In [19]:
grouped.size()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [20]:
grouped.mean()

2000-01-01    2.377524
2000-01-02   -0.493151
2000-01-03   -0.900128
dtype: float64

#### Generating date ranges:

In [21]:
pd.date_range('2019-08-24', '2019-09-01')  # end is inclusive!

DatetimeIndex(['2019-08-24', '2019-08-25', '2019-08-26', '2019-08-27',
               '2019-08-28', '2019-08-29', '2019-08-30', '2019-08-31',
               '2019-09-01'],
              dtype='datetime64[ns]', freq='D')

In [22]:
pd.date_range(start = '2019-09-01', periods = 5)

DatetimeIndex(['2019-09-01', '2019-09-02', '2019-09-03', '2019-09-04',
               '2019-09-05'],
              dtype='datetime64[ns]', freq='D')

In [23]:
pd.date_range(end = '2019-09-05', periods = 5)

DatetimeIndex(['2019-09-01', '2019-09-02', '2019-09-03', '2019-09-04',
               '2019-09-05'],
              dtype='datetime64[ns]', freq='D')

Default: date_range generates daily timestamps

#### Frequencies:

1. D: day

2. B: business day (weekdays)

3. H: hour

4. T: min

5. S: sec

6. M: month end (last day of each month)

7. BM: last weekday of each month

8. MS: first day of each month

9. BMS: first weekday of each month

10. W-MON/TUE/WED/THU/FRI/SAT/SUN: weekly on the given day

In [24]:
pd.date_range('2020-10-05', periods = 5, freq = 'W-MON')  # weekly on each MON from 5th Oct'20 for 5 periods (here, weeks)

DatetimeIndex(['2020-10-05', '2020-10-12', '2020-10-19', '2020-10-26',
               '2020-11-02'],
              dtype='datetime64[ns]', freq='W-MON')

In [25]:
pd.date_range('2000-01-01', periods = 12, freq = 'BM')  # last weekday of each month in 2000

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

date_range preserves time (if any):

In [26]:
pd.date_range('2020-12-09 12:08:44', periods = 3, freq = 'W-TUE')

DatetimeIndex(['2020-12-15 12:08:44', '2020-12-22 12:08:44',
               '2020-12-29 12:08:44'],
              dtype='datetime64[ns]', freq='W-TUE')

Frequencies and offsets:

In [27]:
pd.date_range('2020-05-01', periods = 4, freq = '6H')  # four 6 hour periods

DatetimeIndex(['2020-05-01 00:00:00', '2020-05-01 06:00:00',
               '2020-05-01 12:00:00', '2020-05-01 18:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [28]:
pd.date_range('2020-09-19 13:00:00', periods = 3, freq = '1H30T')  # three 1.5 hour periods

DatetimeIndex(['2020-09-19 13:00:00', '2020-09-19 14:30:00',
               '2020-09-19 16:00:00'],
              dtype='datetime64[ns]', freq='90T')

Week of month dates:

In [29]:
pd.date_range('2020-12-04', periods = 3, freq = 'WOM-3FRI')  # 3rd FRI of each month

DatetimeIndex(['2020-12-18', '2021-01-15', '2021-02-19'], dtype='datetime64[ns]', freq='WOM-3FRI')

#### Shifting data:

Move the **data** backwards/forwards through time without modifying index

In [30]:
ts = pd.Series(np.random.randn(4), index = pd.date_range('2020-01-01', periods = 4, freq = 'M'))

ts

2020-01-31   -0.813724
2020-02-29   -0.251133
2020-03-31   -0.305823
2020-04-30    0.302387
Freq: M, dtype: float64

In [31]:
ts.shift(2)

2020-01-31         NaN
2020-02-29         NaN
2020-03-31   -0.813724
2020-04-30   -0.251133
Freq: M, dtype: float64

In [32]:
ts.shift(-3)

2020-01-31    0.302387
2020-02-29         NaN
2020-03-31         NaN
2020-04-30         NaN
Freq: M, dtype: float64

Use shift to calc % change:

In [33]:
(ts / ts.shift(1)) - 1

2020-01-31         NaN
2020-02-29   -0.691378
2020-03-31    0.217774
2020-04-30   -1.988764
Freq: M, dtype: float64

If freq is known, pass to shift to advance the timestamp instead of only data:

In [34]:
ts.shift(2, freq = 'M')  # data not lost

2020-03-31   -0.813724
2020-04-30   -0.251133
2020-05-31   -0.305823
2020-06-30    0.302387
Freq: M, dtype: float64

#### Resampling

* Downsampling: aggregating higher freq to lower freq

* Upsampling: converting lower freq to higher freq

In [35]:
ts = pd.Series(np.random.randn(100), index = pd.date_range('2000-01-01', periods = 100, freq = 'D'))

ts

2000-01-01   -0.248224
2000-01-02    0.476819
2000-01-03    0.187317
2000-01-04    1.368461
2000-01-05    0.346134
                ...
2000-04-05   -0.355289
2000-04-06   -1.008407
2000-04-07   -0.208725
2000-04-08   -0.402156
2000-04-09   -2.130078
Freq: D, Length: 100, dtype: float64

In [36]:
ts.resample('M').mean()

2000-01-31    0.270847
2000-02-29   -0.247259
2000-03-31    0.169204
2000-04-30   -0.618113
Freq: M, dtype: float64

Downsampling:

In [37]:
ts = pd.Series(np.arange(12), index = pd.date_range('2000-01-01', periods = 12, freq = 'T'))

ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

Resample to 5 min chunks and get sum of each interval:

In [38]:
ts.resample('5T', closed = 'right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

* freq (here, 5T) defines bin edges

* by default, left edge is inclusive, hence 2000-01-01 00:00:00 data is in 00:00 - 00:05 interval

* resultant ts is labeled using timestamp from left side of each bin

Label using timestamp from right side of each label:

In [39]:
ts.resample('5T', closed = 'right', label = 'right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int32

Shifting resampled data:

In [40]:
ts.resample('5T', closed = 'right', label = 'right', loffset = '-1S').sum()  # shift label 1s behind

1999-12-31 23:59:59     0
2000-01-01 00:04:59    15
2000-01-01 00:09:59    40
2000-01-01 00:14:59    11
Freq: 5T, dtype: int32

Open-High-Low-Close resampling:

In [41]:
ts.resample('5T').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

Upsampling:

In [42]:
df = pd.DataFrame(np.random.randn(2, 2), index = pd.date_range('2000-01-01', periods = 2, freq = 'W-WED'), columns = ['a', 'b'])

df

                   a         b
2000-01-05  0.422297 -0.371628
2000-01-12  0.355518  1.612438

In [43]:
df.resample('D').asfreq()  # asfreq() upsamples without aggregation

                   a         b
2000-01-05  0.422297 -0.371628
2000-01-06       NaN       NaN
2000-01-07       NaN       NaN
2000-01-08       NaN       NaN
2000-01-09       NaN       NaN
2000-01-10       NaN       NaN
2000-01-11       NaN       NaN
2000-01-12  0.355518  1.612438

Interpolating:

In [44]:
df.resample('D').ffill()

                   a         b
2000-01-05  0.422297 -0.371628
2000-01-06  0.422297 -0.371628
2000-01-07  0.422297 -0.371628
2000-01-08  0.422297 -0.371628
2000-01-09  0.422297 -0.371628
2000-01-10  0.422297 -0.371628
2000-01-11  0.422297 -0.371628
2000-01-12  0.355518  1.612438

In [45]:
df.resample('D').ffill(limit = 3)

                   a         b
2000-01-05  0.422297 -0.371628
2000-01-06  0.422297 -0.371628
2000-01-07  0.422297 -0.371628
2000-01-08  0.422297 -0.371628
2000-01-09       NaN       NaN
2000-01-10       NaN       NaN
2000-01-11       NaN       NaN
2000-01-12  0.355518  1.612438

Ref: Chapter 11, Py for Data Analysis 2nd Ed. (Wes McKinney)